html,body{
    height:100%;
    padding:0;
    margin:0;

    font-family: 'Open Sans', sans-serif;
}
  
.nothing{
    box-sizing:border-box;
}

.siteTitle{
    font-family: 'Permanent Marker', cursive;
}

.owen{
    width: 500px;
    max-width: 50%;
}

.owenhead{
    max-width: 100%;
}
  
.container{
    
    width:100%;
    height:100%;
    background-color:#eeeeee;
    
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    
}
  
  
  
  
  
  
  