html,body{
    height:100%;
    padding:0;
    margin:0;
}
  
.nothing{
    box-sizing:border-box;
}

.owen{
    width: 500px;
    max-width: 50%;
}

.owenhead{
    max-width: 100%;
}
  
.container{
    
    width:100%;
    height:100%;
    background-color:#eeeeee;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
}
  
  
  
  
  
  
  